* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    max-width: 95vw;
    min-width: 95vw;
    border: 5px solid black;
}